// Colours //
// ============================================================ //
// ============================================================ //

$primary: #481567;
$secondary: #303030;
$background: #FEFEFE;

// Top bar //
// ============================================================ //
// ============================================================ //

.skin-blue .main-header .navbar {
    background-color: $primary;
}

.skin-blue .main-header .logo,
.skin-blue .main-header .logo:hover {
    background-color: $primary;
}

// Main panel //
// ============================================================ //
// ============================================================ //

.content-wrapper, .right-side {
    background-color: $background;
}

.box {
    border-radius: 5px;
    border: 1px solid #A9A9A9;
}

// Inputs //
// ============================================================ //
// ============================================================ //

.selectize-input {
    border-radius: 5px;
    border: 1px solid #A9A9A9;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #A9A9A9;
}

.btn {
    border-radius: 5px;
    border: 1px solid #A9A9A9;
}

// Fonts //
// ============================================================ //
// ============================================================ //

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    text-transform: none;
    font-family: "Open Sans", arial, sans-serif;
}

.main-header .logo {
    font-family: "Open Sans", arial, sans-serif;
    font-size: 22px;
    text-align: left;
    font-weight: bold;
}

h1 { font-size: 26px; }
h2 { font-size: 24px; }
h3 { font-size: 29px; margin-bottom: 20px; font-weight: bold;}
h4 { font-size: 18px; margin-bottom: 18px; font-weight: bold;}
h5 { font-size: 16px; margin-bottom: 15px; }
h6 { font-size: 14px; margin-bottom: 12px; }
.box-header h3.box-title { font-size: 20px; margin-bottom: 0px; font-weight: bold;}

p {
    line-height: 1.8;
    margin: 0 0 30px;
}

body, .selectize-dropdown, .selectize-input, .selectize-input input {
    background: $background;
    color: #424242;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 16px;
}
